.hero  {
    text-align: center;
    margin: 0 auto;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),(min-resolution: 2dppx)  {
        background-image: url(../images/mobile@2x.jpg);
        width: 480px;
        height: 400px;
        padding: 118px 0;
    } 

    @media screen and (min-width: 768px) {
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),(min-resolution: 2dppx)  {
        background-image: url(../images/tablet@2x.jpg);
        width: 768px;
        } 
    }
    
    @media screen and (min-width: 1200px) {
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),(min-resolution: 2dppx)  {
        background-image: url(../images/desktop@2x.jpg);
        width: 1200px;
        height: 600px;
        padding: 200px 0;
        } 
    }
}   

.idia  {
    text-align: center;
}

.hero__title {
   
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-header-color);
    margin-bottom: 30px;
    

    @media screen and (min-width: 1200px) {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--primary-header-color);
        margin-bottom: 40px;
    }
   
}

.hero__btn-main {
    color: var(--background-color);
    font-family: inherit;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    margin: 0 auto;
    background-color:var(--accent-color);
    padding: 10px 32px;
}